body {
  background-image: url("brickwall.webp");
  text-align: center;
  background-attachment: fixed;
  background-size: contain 100%;
}
header {
  padding: 2%;
  font-family: "Lucida Console", monospace;
  color: white;
}
header:hover {
  color: pink;
  text-decoration: underline;
  text-decoration-color: white;
}
.introduction {
  color: white;
  border-bottom-width: 5px;
  border-top-width: 5px;
  border-top-style: double;
  border-bottom-style: double;
  border-color: skyblue;
  margin: 1%;
  padding: 0.5%;
  
}
footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a {
  padding-top: 2%;
  color: white;
  text-decoration: underline;
}
footer a:hover {
  color: lime;
}
.footerlink {
  margin-top: 5%;
}
ul a {
  text-align: center;
  color: white;
  padding-right: 2.1%;
  text-decoration: underline;
}
ul a:hover {
  text-decoration-color: pink;
  color: lime;
}
h2 {
  color: white;
}
.normaltext {
  color: white;
  text-align: center;
  float: center;
  margin-left: 21.5%;
  border-bottom-width: 3%;
  border-bottom-style: double;
  border-bottom-color: pink;
  padding-bottom: 1%;
  padding-top: 1%;
}